version: 2

registries:
  github:
    type: maven-repository
    url: https://maven.pkg.github.com
    token: ${{ secrets.GHP }}

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      all:
        patterns:
          - "*"

  - package-ecosystem: "swift"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      all:
        patterns:
          - "*"
