version: 2

registries:
  github-maven:
    type: maven-repository
    url: https://maven.pkg.github.com
    username: ${{ secrets.USER }}
    password: ${{ secrets.GHP }}

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gradle"
    directory: "/"
    registries: "*"
    schedule:
      interval: "daily"
    groups:
      all:
        patterns:
          - "*"
