root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_visual_guides = 100

[{*.kt,*.kts}]
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_collection_literal_expression = true
ij_kotlin_allow_trailing_comma_context_receiver_list = true
ij_kotlin_allow_trailing_comma_destructuring_declaration = true
ij_kotlin_allow_trailing_comma_function_literal = true
ij_kotlin_allow_trailing_comma_indices = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma_type_argument_list = true
ij_kotlin_allow_trailing_comma_type_parameter_list = true
ij_kotlin_allow_trailing_comma_value_argument_list = true
ij_kotlin_allow_trailing_comma_value_parameter_list = true
ij_kotlin_allow_trailing_comma_when_entry = true
ij_kotlin_name_count_to_use_star_import = 1
ij_kotlin_name_count_to_use_star_import_for_members = 1
ij_kotlin_parameter_annotation_wrap = off

[*.json]
indent_size = 2

[*.swift]
max_line_length = 120

[{*.yml,*.yaml}]
indent_size = 2
