# Build
bin/
build/
captures/
classes/
gen/
schemas/
.build/
.externalNativeBuild/
.gradle/
.kotlin/
.navigation/
*.aab
*.aar
*.apk
*.framework
*.generated.swift
*.hmap
*.ipa
*.keystore
*.log
*.xcframework
*.zip

# CocoaPods
Podfile.lock
Pods/

# IDE
*.iml
*.xcworkspace
.fleet/
.idea/
.vscode/
xcuserdata/
local.properties
!solutions.xcworkspace

# OS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
