API_KEY=
PUBLISHER_KEY=
ADMANAGER_APP_ID=ca-app-pub-9939518381636264~1092563270
ADMANAGER_ADUNIT_ID=/21775744923/example/adaptive-banner
AMAZON_APP_ID=a9_onboarding_app_id
AMAZON_BANNER_SLOT_ID=5ab6a4ae-4aa5-43f4-9da4-e30755f2b295
AMAZON_INTERSTITIAL_SLOT_ID=4e918ac0-5c68-4fe1-8d26-4e76e8f74831
COMPLIANCE_SCRIPT_URL=
