name: Build

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '55 23 * * 6'

permissions:
  contents: write
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gradle:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Gradle
        id: gradle
        uses: ./.github/actions/gradle
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          dependency-graph: generate-and-submit
      - name: Build
        run: ./gradlew build
        shell: bash
      - name: Cache Kotlin Native
        uses: actions/cache/save@v5
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          path: ~/.konan
          key: ${{ steps.gradle.outputs.kotlin-cache-key }}
      - name: Upload reports
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: gradle-reports
          path: '**/build/reports/'

  xcodebuild:
    runs-on: macos-latest
    timeout-minutes: 20
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Xcode
        id: xcodebuild
        uses: ./.github/actions/xcodebuild
        with:
          command: 'build test'
      - name: Build
        run: ${{ steps.xcodebuild.outputs.command }}
        shell: bash
      - name: Upload reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: xcodebuild-reports
          path: '~/Library/Developer/Xcode/DerivedData/**/Logs/'
