name: Build

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '55 23 * * 6'

permissions:
  contents: write
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  XCODE_VERSION: '26.1'

jobs:
  gradle:
    runs-on: macos-latest
    timeout-minutes: 45
    env:
      ORG_GRADLE_PROJECT_openrtbUsername: ${{ github.actor }}
      ORG_GRADLE_PROJECT_openrtbPassword: ${{ github.token }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Build
        uses: ./.github/actions/gradle
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          cache-read-only: false
          dependency-graph: generate-and-submit
      - name: Upload build reports
        uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: gradle-reports
          path: '**/build/reports/'

  xcodebuild:
    runs-on: macos-latest
    timeout-minutes: 45
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Test
        uses: ./.github/actions/xcodebuild
        with:
          task: test
      - name: Upload test results
        if:  ${{ !cancelled() }}
        uses: actions/upload-artifact@v5
        with:
          name: xcodebuild-reports
          path: '~/Library/Developer/Xcode/DerivedData/**/Logs/Test/'
